.navbar {
  width: 100%;
  line-height: 5vh;
  background-color: black;

  display: flex;
  flex-direction: right;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 5px;
}

.logo {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: right;
}
.logo img {
  width: 20px;
  height: 20px;
 margin-top: 1rem;
  
}

.logo span {
  color: white;
  margin-top: 4px;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}



.menu-items {
  align-items: center;
  justify-content: center;
}

.menu-items a {
  color: white;
  padding-left: 20px;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}